<?xml version="1.0" encoding="UTF-8"?>{% if detail == false %}
<sitemapindex xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/siteindex.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">{% if data %}{% for row in data %}
	<sitemap>
		<loc>{{global.url}}/sitemap-{{row | date("Y")}}-{{row | date("m")}}.xml</loc>
		<lastmod>{{row | date("c")}}</lastmod>
	</sitemap>{% endfor %}{% endif %}
</sitemapindex> {% else %}
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">	{% if data %}{% for artikel in data %}
	<url>
		<loc>{{ global.url }}/{{ artikel.alias }}</loc>
		<lastmod>{{ artikel.jam | date("c") }}</lastmod>
		<changefreq>weekly</changefreq>
		<priority>0.8</priority>
	</url>{% endfor %} {% endif %}
</urlset> {% endif %}