[class*=" icon-"],[class^=icon-]{height:32px;width:32px;fill:currentColor}.icon-search-1{height:34px;width:26px}.icon-calendar,.icon-user{width:12px;height:12px}.icon-caret-down{width:60px;height:60px}