[class*=" icon-"],[class^=icon-]{height:32px;width:32px;fill:currentColor}.icon-calendar-check-o-atas,.icon-docs-atas,.icon-search-1-atas{height:17px;width:17px}.icon-facebook{width:20px;height:20px}.icon-calendar,.icon-user{width:10px;height:10px}.icon-caret-down{width:60px;height:60px}